/*INDEX.HTML*/
header{
    
    div{
        display: flex;
        justify-content: center;
        .logo_index{
        width: 500px;
        height: 150px;
        margin-bottom: 20px;

        }
    }
    .navbar{
        padding-left: 10px;
        margin-right: 10px;
        div{
            div{
                form{
                    .login{
                        width: 40px;
                        filter: invert(99%) sepia(62%) saturate(813%) 
                        hue-rotate(176deg) brightness(116%) contrast(100%);
                    }
                }
            }
        }
    }
}

    @keyframes efecto_logo {
        0%{ width: 500px; border: dotted $color-texto 10px;margin-left: 15px;}
        25%{ width: 400px; border: dotted $color-texto 10px;margin-left: 10px;}
        50%{ width: 350px;border: dotted $color-texto 10px;margin-left: 5px;}
        75%{ width: 400px;border: dotted $color-texto 10px;margin-left: 10px;}
        100%{ width: 500px;
        border: dotted $color-texto 10px;
        margin-left: 15px;
    }
    
}

.m_index{
    margin-top: 50px;
    
    div{
        .foto1, .foto2{
        height: 200px;
        margin: 5px;
        }    
    }

    .form_index{
        div{
            .boton_form{
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            }
        }
    }
}


.f_index{
    margin-top: 100px;
    div{
        .pie_de_pag{    
            text-align: center;
            color: $color-texto;
            padding: 10px;
            height: 40px;
            margin: 5px;
        }
    }
}











