/*INDEX.HTML*/
header{
    
    div{
        display: flex;
        justify-content: center;
        .logo_index{
        width: 400px;
        height: 150px;
        margin-bottom: 20px;

        }
    }
    .navbar{
        padding-left: 10px;
        margin-right: 10px;
        div{
            div{
                form{
                    .login{
                        width: 40px;
                        filter: invert(99%) sepia(62%) saturate(813%) 
                        hue-rotate(176deg) brightness(116%) contrast(100%);
                    }
                }
            }
        }
    }
}




.m_index{
    margin-top: 50px;

    .img_index{
        display: flex;
        justify-content: center;
        .foto1, .foto2{
        height: 200px;
        margin: 5px;
        }    
    }

    .form_index{
        fieldset{
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                .boton_form{
                margin-left: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
                }
            }
        }
    }
}


footer{  
    div{
        div{
            .pie_de_pag{    
            text-align: center;
            color: $color-texto;
            padding: 10px;
            height: 40px;
            margin: 5px;
            }
        }
    }
}











