/*PROTOCOLOS.HTML*/
.m_protocolos{
    margin-top: 50px;
    .secciones_p{
        margin-left: 10px;
        margin-right: 10px;
        .foto_app, .foto_banner{
            @include fotos_protocolo(170px, 5px);
        }
        .foto_banner2{
            @include fotos_protocolo(160px, 5px);
        }

        .texto--app{
            @extend .texto_general;
            color: yellow;
        }
    }

    div{
        .foto_viajes{
            height:map-get($foto_viajes,alto);
            padding:map-get($foto_viajes,padding);
            margin-left:map-get($foto_viajes,margin-left)
        }
    }
    div{
        .subtitulo_video{
            margin-left: 10px;
        }
        .video{
            padding-left: 30px;
        }
    }
}