/*PROTOCOLOS.HTML*/
.m_protocolos{
    margin-top: 50px;
    div{
        .foto_app, .foto_banner, .foto_banner2{
            height: 170px;
            margin: 5px;
        }
    }
    div{
        .foto_viajes{
            height: 300px;
            padding: 5px;
            margin-left: 5px;
        }
    }
    div{
        .subtitulo_video{
            margin-left: 10px;
        }
        .video{
            padding-left: 30px;
        }
    }
}