$color_texto: #ffffff;
$tamanio_titulos: 70px;
$letra_titulos: 'Cinzel', serif;
$tamanio_subtitulos: 30px;
$letra_subtitulos: 'Righteous', cursive;

$foto_viajes:(
    alto: 300px,
    padding: 5px,
    margin-left: 5px

);

@mixin fotos_protocolo ($height, $margin){
    height: $height;
    margin: $margin    
}

body{
    background-image:url(../multimedia/back_img.jpg);
    background-size: cover;}
    div{
        .texto_general{
        color: $color-texto;
        font-family: 'Righteous', cursive;
        margin-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
        font-size: 15px;
        }
    }
    div{
        .tabla{
            margin-top: 50px;
            td{
                .iconos_redes{
                width: 20px;
                filter: invert(99%) sepia(62%) saturate(813%) 
                hue-rotate(176deg) brightness(116%) contrast(100%);
                }
            }
        }        
    }
    .espacio_publicitario{
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
        .iconos_pie{
            width: 30px;
            height: 40px;
            filter: invert(15%) sepia(18%) 
            saturate(6865%) hue-rotate(302deg) 
            brightness(106%) contrast(127%);
        }        
    }
    .e_secciones{
        div{
            .titulo{
                color: $color-texto;
                text-decoration:underline;
                font-size:$tamanio_titulos;
                padding: 20px;
                text-align: center;
                font-family: $letra_titulos;
            }
            .navbar{
                padding-left: 10px;
                margin-right: 10px;
            }
        }
    }
   
@import "index";
@import "nosotros";
@import "galeria";
@import "protocolos";
@import "reservas";

@media only screen and (max-width: 749px){

.tabla{
    .texto_general{
        font-size: 10px;
    }
    
}

header{
    div{
        .logo_index{
            animation: none;
        }
    }

}

footer{
    font-size: 10px;
    div{
        div{
            a{
                .iconos_pie{
                    display: none;
                }
            }
        }
    }
}
.m_nosotros{
    .mapa{
        .mapita{
            width: 300px;
            height: 300px;  
        }
    }
}    
.e_secciones{
    div{
        .titulo{
            font-size: 40px;
        }
    }
}

.m_galeria{
    div{
        .subtitulos{
            font-size: 20px;
        }
    }
}

.m_protocolos{
    div{
        .foto_app, .foto_banner, .foto_banner2{
            height: 150px;
            margin: 0px;
        }
    }
}   
    
.m_reservas{
    div{
        .icono_tarjetas{
            display: none;
        }    
    }
}

.f_index, .f_secciones{
        font-size: 10px;
    }
.f_secciones{
    div{
        .pie_secciones{
            .pie{
                width: 10px;
            }
        }
    }
    
}
}