
body{
    background-image:url(./multimedia/back_img.jpg);
    background-size: cover;}
/*INDEX.HTML*/
    /*header*/
.logo_index{
    width: 500px;
    height: 150px;
    margin-bottom: 20px;
    animation-name: efecto_logo;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes efecto_logo {
    0%{ width: 500px; border: dotted white 10px;margin-left: 15px;}
    25%{ width: 400px; border: dotted white 10px;margin-left: 10px;}
    50%{ width: 350px;border: dotted white 10px;margin-left: 5px;}
    75%{ width: 400px;border: dotted white 10px;margin-left: 10px;}
    100%{ width: 500px;
    border: dotted white 10px;
    margin-left: 15px;}
}
/*main*/
.navbar{
    padding-left: 10px;
    margin-right: 10px;
}
.m_index{
    margin-top: 50px;
}


.foto1, .foto2{
    height: 200px;
    margin: 5px;
}

.boton_form{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.texto_general{
    color: white;
    font-family: 'Righteous', cursive;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 15px;
}

.tabla{
    margin-top: 50px;
}

.iconos_redes{
    width: 20px;
    filter: invert(99%) sepia(62%) saturate(813%) 
    hue-rotate(176deg) brightness(116%) contrast(100%);
}

.espacio_publicitario{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.iconos_pie{
    width: 50px;
    height: 40px;
    filter: invert(15%) sepia(18%) 
    saturate(6865%) hue-rotate(302deg) 
    brightness(106%) contrast(127%);
}
/*footer*/
.pie{
    width: 15px;
}

.f_index{
    margin-top: 100px;
}

.pie_de_pag{    
    text-align: center;
    color: white;
    padding: 10px;
    height: 40px;
    margin: 5px;
    
}
/* NOSOTROS.HTML*/
/*header*/    
.titulo{
    color: white;
    text-decoration: underline;
    font-family: 'Cinzel', serif;
    font-size: 70px;
    padding: 20px;
    text-align: center;
}
/*main*/
.m_nosotros{
    margin-top: 50px;
}
.foto_nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.foto_hermanos{
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
}

.epigrafe{
    text-align: center;
}

.mapita{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.mapita:hover{
    transform: skew(5deg, 5deg);
}
/*footer*/
.f_secciones{
    text-align: center;
    margin-top: 100px;
}


.pie_secciones, .volver{
    color: white;
    text-decoration: none;
}

.pie{
    margin-top: 5px;
    margin-left: 5px;
}
/*GALERIA.HTML*/
/*main*/
.m_galeria{
    margin-top: 50px;
}

.subtitulos{
    font-size: 30px;
    padding: 5px;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos_galeria{
    opacity: 0.4;
    transition: opacity .8s;
    width: 200px;
    height: 150px;
    padding-top: 10px;
}

.fotos_galeria:hover{
    opacity: 1;
}

.p_secciones_galeria{
text-align: center;  
}
/*PROTOCOLOS*/
.m_protocolos{
    margin-top: 50px;
}
.foto_app, .foto_banner, .foto_banner2{
    
    height: 170px;
    margin: 5px;
}
 
.foto_viajes{
    height: 300px;
    padding: 5px;
    margin-left: 5px;
}

.subtitulo_video{
    margin-left: 10px;
}

.video{
    padding-left: 30px;
}

/*RESERVAS.HTML*/
.m_reservas{
    margin-top: 50px;
}

.icono_tarjetas{
    background-color: none;
    width: 250px;
    height: 50px;
    margin-left: 50%;
}

.separado{
    margin: 10px;
}

.botoncito{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50%;
    padding: 1rem;
    background-color: grey;
    color: white;
}

.botoncito:hover{
    background-color: white;
    color: grey;
}

@media only screen and (max-width: 749px){

.logo_index{
    animation: none;
}

.mapita{
    width: 300px;
    height: 300px;
}

.titulo{
    font-size: 40px;
}

.subtitulos{
    font-size: 20px;
}

.foto_app, .foto_banner, .foto_banner2{
    height: 150px;
    margin: 0px;
}

.icono_tarjetas{
    display: none;
}

.f_index, .f_secciones{

    font-size: 10px;
}

.pie{
    width: 10px;
}

}